body {
  background-color: grey;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
}

.block {
  background-color: #42f4e5;
  border: 1px solid black;
  display: inline-block;

  margin: 2px;
  padding: 10px;
}
.block img {
  border-radius: 10px;
}
